.container{
    display: grid;
    grid-template-columns: auto;
grid-template-rows: auto auto auto auto auto auto;
}
.title{
    width: 90vw;
    margin: 0VW 5vw 0vw 5vw;
    height: fit-content;
    grid-row: 2;
    font-weight: bold;
    text-decoration: underline;
    font-size: 2vw;
}
.ra{
    grid-row: 4;
    width: 90vw;
    margin: 0 5vw 0 5vw;
    font-size: 24px;
    font-family: 'Varela Round', sans-serif;
}
.articles{
    grid-row: 5;
    display: flex
}
.articles>.post{
    margin: 1.5vw;
}
.content{
    grid-row: 3;
    width: 90vw;
    margin: 5vw;
    margin-top: 1vw;
}
.box4{
    grid-row: 6;
}
p{
    font-size: 24px;
}
@media screen and (max-width: 620px){
    .post3{
        display: none;
    }
    .post4{
        display: none;
    }
    .post1{
        width: 100% !important;
    }
    .post2{
        width: 100% !important;
    }
    .title{
        font-size: 24px;
    }
}
