<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>News Article NLP</title>
  </head>
  <body>
    <header>
      <h1>News Article NLP</h1>
    </header>

    <main>
      <h2>Natural Language Processing</h2>
      <form class="" onsubmit="return Client.handleSubmit(event)">
        <label for="test-statement">
          <p>Try it out! Type in a statement to see what the Aylien NLP understands
          from it:</p>
        </label>
        <input
          required
          id="test-statement"
          type="text"
          placeholder="John is a very good football player."
        />
        <input class="submit-button" type="submit" value="Submit" />
      </form>

      <section class="text-results">
        <ul>
          <li>
            <h3>Text Polarity:</h3>
            <p id="text_polarity"></p>
            <h4>Confidence:</h4>
            <p id="text_polarity_confidence"></p>
          </li>

          <li>
            <h3>Text Subjectivity:</h3>
            <p id="text_subjectivity"></p>
            <h4>Confidence:</h4>
            <p id="text_subjectivity_confidence"></p>
          </li>
        </ul>
      </section>

      <hr />

      <form class="" onsubmit="return Client.handleSubmitArticle(event)">
        <label for="test-url">
          <p>Or, try putting in the url of an article - like from your favorite
          news source.</p>
        </label>
        <input required id="test-url" type="url" placeholder="https://..." />
        <input class="submit-button" type="submit" value="Submit" />
      </form>

      <section class="url-results">
        <ul>
          <li>
            <h3>Text Polarity:</h3>
            <p id="polarity"></p>
            <h4>Confidence:</h4>
            <p id="polarity_confidence"></p>
          </li>

          <li>
            <h3>Text Subjectivity:</h3>
            <p id="subjectivity"></p>
            <h4>Confidence:</h4>
            <p id="subjectivity_confidence"></p>
          </li>

          <li>
            <h3>Text Excerpt:</h3>
            <p id="excerpt"></p>
          </li>
        </ul>
      </section>
    </main>

    <footer>
      <p>&copy; Rakesh M R</p>
    </footer>

    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () =>
          navigator.serviceWorker.register("/service-worker.js")
        );
      }
    </script>
  </body>
</html>
